<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>登录才能查看</h1>

<hr>
<br>
<br>
<br>
<br>
<br>
<!-- 判断是否登录 登录显示 div 的内容，未登录不显示 -->
<div sec:authorize="isAuthenticated()">判断是否登录</div><hr>
<!-- 输出账号名称 -->
<span sec:authentication="name"></span><hr>
<!-- 输出拥有的角色 -->
<span sec:authentication="principal.authorities"></span><hr>
<!-- 判断是否有该角色，有就显示，没有不显示 -->
<div sec:authorize="hasRole('ROLE_ADMIN')">判断是否有该角色("ADMIN")</div><hr>
<div sec:authorize="hasRole('ROLE_USER')">判断是否有该角色("USER")</div><hr>
<div sec:authorize="hasRole('ROLE_GUEST')">判断是否有该角色("GUEST")</div><hr>

</body>
</html>